base:
  seed: 1111
  lr: 0.0001
  weight_decay: 0.0001
  batch_size: 32
  n_epochs: 100
  num_workers: 0
  gamma: 0.1
  sigma: 1.0
  kl: 0.5
  train_mode: regression # only support regression now
  missing_rate_eval_test: 0.5   # used for evaluation and testing
  do_validation: true


dataset:
  datasetName: mosi
  dataPath: ../data/MSA_Datasets/MOSI/Processed/unaligned_50.pkl
   

model:    
  feature_extractor:
    bert_pretrained: '../bert/bert-base-uncased' #    bert_pretrained: '../bert/bert-large-uncased'
    transformers: 'bert'  # transformers: bert
    input_length: [50, 500, 375] # language, video, audio
    token_length: [8, 8, 8] # language, video, audio
    heads: 8
    input_dims: [768, 20, 5] # language, video, audio
    hidden_dims: [128, 128, 128] # language, video, audio
    depth: 2

  vae:
    input_length: 8
    depth: 2
    heads: 8
    input_dim: 128
    hidden_dim: 128

  reconstructor:
    input_length: 8
    depth: 2
    heads: 8
    input_dim: 128
    hidden_dim: 128

  crossmodal_encoder:
    proxy_dim: 128
    hidden_dims: [128, 128, 128] # language, video, audio
    embed_dim: 128
    num_layers: 4
    attn_dropout: 0.5

  generate_proxy:
    input_dim: 128
    hidden_dim: 128
    out_dim: 128

  regression:
    attn_dropout: 0.5
    input_dim: 128
    hidden_dim: 128
    out_dim: 1

